<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{162,152}</string>
                <key>textureRect</key>
                <string>{{1650,1200},{162,152}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>162 38 162 123 119 152 0 152 0 0 124 0</string>
                <key>verticesUV</key>
                <string>1812 1238 1812 1323 1769 1352 1650 1352 1650 1200 1774 1200</string>
            </dict>
            <key>about_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{162,143}</string>
                <key>spriteSourceSize</key>
                <string>{162,152}</string>
                <key>textureRect</key>
                <string>{{1338,1212},{162,143}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>162 48 162 123 119 152 0 152 0 9 123 9</string>
                <key>verticesUV</key>
                <string>1500 1251 1500 1326 1457 1355 1338 1355 1338 1212 1461 1212</string>
            </dict>
            <key>back_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1477,1067},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 1 2 3 4 5 6 4 6 1 4 1 3 1 6 8 0 1 9</string>
                <key>vertices</key>
                <string>168 35 180 92 169 149 123 183 59 183 16 151 1 79 26 16 69 2 123 2</string>
                <key>verticesUV</key>
                <string>1644 1100 1656 1157 1645 1214 1599 1248 1535 1248 1492 1216 1477 1144 1502 1081 1545 1067 1599 1067</string>
            </dict>
            <key>back_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{183,179}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1601,920},{183,179}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 6 8 4 5 6 3 4 8 3 0 1 3 1 2 0 3 8</string>
                <key>vertices</key>
                <string>129 13 167 42 184 111 146 164 84 184 18 151 1 73 39 18 89 5</string>
                <key>verticesUV</key>
                <string>1729 928 1767 957 1784 1026 1746 1079 1684 1099 1618 1066 1601 988 1639 933 1689 920</string>
            </dict>
            <key>blue_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,957},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 969 587 1045 561 1081 37 1081 1 1056 1 993 26 957 543 957</string>
            </dict>
            <key>blue_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,453},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 465 587 541 561 577 37 577 1 552 1 489 26 453 543 453</string>
            </dict>
            <key>blue_small_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,118}</string>
                <key>spriteSourceSize</key>
                <string>{304,118}</string>
                <key>textureRect</key>
                <string>{{589,998},{304,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 5 3 4 5 7 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>304 27 304 102 264 118 33 118 6 97 0 77 0 31 31 0 271 0</string>
                <key>verticesUV</key>
                <string>893 1025 893 1100 853 1116 622 1116 595 1095 589 1075 589 1029 620 998 860 998</string>
            </dict>
            <key>blue_small_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,118}</string>
                <key>spriteSourceSize</key>
                <string>{304,118}</string>
                <key>textureRect</key>
                <string>{{895,638},{304,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 5 3 4 5 7 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>304 27 304 102 264 118 33 118 6 97 0 77 0 31 31 0 271 0</string>
                <key>verticesUV</key>
                <string>1199 665 1199 740 1159 756 928 756 901 735 895 715 895 669 926 638 1166 638</string>
            </dict>
            <key>close_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1658,1136},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>90 90 28 90 28 28 90 28</string>
                <key>verticesUV</key>
                <string>1720 1198 1658 1198 1658 1136 1720 1136</string>
            </dict>
            <key>close_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1611,612},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>90 90 28 90 28 28 90 28</string>
                <key>verticesUV</key>
                <string>1673 674 1611 674 1611 612 1673 612</string>
            </dict>
            <key>coin_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,92}</string>
                <key>spriteSourceSize</key>
                <string>{270,92}</string>
                <key>textureRect</key>
                <string>{{1393,518},{270,92}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>270 92 0 92 0 0 270 0</string>
                <key>verticesUV</key>
                <string>1663 610 1393 610 1393 518 1663 518</string>
            </dict>
            <key>green_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,327},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 339 587 415 561 451 37 451 1 426 1 363 26 327 543 327</string>
            </dict>
            <key>green_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,579},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 591 587 667 561 703 37 703 1 678 1 615 26 579 543 579</string>
            </dict>
            <key>green_small_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,118}</string>
                <key>spriteSourceSize</key>
                <string>{304,118}</string>
                <key>textureRect</key>
                <string>{{589,758},{304,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 5 3 4 5 7 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>304 27 304 102 264 118 33 118 6 97 0 77 0 31 31 0 271 0</string>
                <key>verticesUV</key>
                <string>893 785 893 860 853 876 622 876 595 855 589 835 589 789 620 758 860 758</string>
            </dict>
            <key>green_small_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,118}</string>
                <key>spriteSourceSize</key>
                <string>{304,118}</string>
                <key>textureRect</key>
                <string>{{589,638},{304,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 5 3 4 5 7 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>304 27 304 102 264 118 33 118 6 97 0 77 0 31 31 0 271 0</string>
                <key>verticesUV</key>
                <string>893 665 893 740 853 756 622 756 595 735 589 715 589 669 620 638 860 638</string>
            </dict>
            <key>green_small_button_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,118}</string>
                <key>spriteSourceSize</key>
                <string>{304,118}</string>
                <key>textureRect</key>
                <string>{{589,878},{304,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 5 3 4 5 7 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>304 27 304 102 264 118 33 118 6 97 0 77 0 31 31 0 271 0</string>
                <key>verticesUV</key>
                <string>893 905 893 980 853 996 622 996 595 975 589 955 589 909 620 878 860 878</string>
            </dict>
            <key>hint_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{487,1109},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 1 2 3 4 5 6 4 6 1 4 1 3 1 6 8 0 1 9</string>
                <key>vertices</key>
                <string>168 35 180 92 169 149 123 183 59 183 16 151 1 79 26 16 69 2 123 2</string>
                <key>verticesUV</key>
                <string>654 1142 666 1199 655 1256 609 1290 545 1290 502 1258 487 1186 512 1123 555 1109 609 1109</string>
            </dict>
            <key>hint_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{183,179}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{894,949},{183,179}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 6 8 4 5 6 3 4 8 3 0 1 3 1 2 0 3 8</string>
                <key>vertices</key>
                <string>129 13 167 42 184 111 146 164 84 184 18 151 1 73 39 18 89 5</string>
                <key>verticesUV</key>
                <string>1022 957 1060 986 1077 1055 1039 1108 977 1128 911 1095 894 1017 932 962 982 949</string>
            </dict>
            <key>hint_button_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{183,179}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1554,752},{183,179}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 6 8 4 5 6 3 4 8 3 0 1 3 1 2 0 3 8</string>
                <key>vertices</key>
                <string>129 13 167 42 184 111 146 164 84 184 18 151 1 73 39 18 89 5</string>
                <key>verticesUV</key>
                <string>1682 760 1720 789 1737 858 1699 911 1637 931 1571 898 1554 820 1592 765 1642 752</string>
            </dict>
            <key>hint_coin_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 6 9 5 6 7 9 4 5 9 2 3 4 1 2 4 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>377 10 400 45 400 295 362 319 347 324 39 324 0 285 0 45 23 10 53 0 347 0</string>
                <key>verticesUV</key>
                <string>378 11 401 46 401 296 363 320 348 325 40 325 1 286 1 46 24 11 54 1 348 1</string>
            </dict>
            <key>hint_coin_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7.5}</string>
                <key>spriteSize</key>
                <string>{400,309}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{991,327},{400,309}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 3 6 8 4 5 6 3 4 6 0 1 3 1 2 3 0 3 8</string>
                <key>vertices</key>
                <string>400 60 400 295 362 319 347 324 39 324 0 285 0 63 28 17 366 15</string>
                <key>verticesUV</key>
                <string>1391 372 1391 607 1353 631 1338 636 1030 636 991 597 991 375 1019 329 1357 327</string>
            </dict>
            <key>hint_coin_button_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 6 9 5 6 7 9 4 5 9 2 3 4 1 2 4 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>377 10 400 45 400 295 362 319 347 324 39 324 0 285 0 45 23 10 53 0 347 0</string>
                <key>verticesUV</key>
                <string>1584 11 1607 46 1607 296 1569 320 1554 325 1246 325 1207 286 1207 46 1230 11 1260 1 1554 1</string>
            </dict>
            <key>hint_coin_free_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 6 9 5 6 7 9 4 5 9 2 3 4 1 2 4 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>377 10 400 45 400 295 362 319 347 324 39 324 0 285 0 45 23 10 53 0 347 0</string>
                <key>verticesUV</key>
                <string>1182 11 1205 46 1205 296 1167 320 1152 325 844 325 805 286 805 46 828 11 858 1 1152 1</string>
            </dict>
            <key>hint_coin_free_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7.5}</string>
                <key>spriteSize</key>
                <string>{400,309}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,309}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 3 6 8 4 5 6 3 4 6 0 1 3 1 2 3 0 3 8</string>
                <key>vertices</key>
                <string>400 60 400 295 362 319 347 324 39 324 0 285 0 63 28 17 366 15</string>
                <key>verticesUV</key>
                <string>2009 46 2009 281 1971 305 1956 310 1648 310 1609 271 1609 49 1637 3 1975 1</string>
            </dict>
            <key>hint_video_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 6 9 5 6 7 9 4 5 9 2 3 4 1 2 4 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>377 10 400 45 400 295 362 319 347 324 39 324 0 285 0 45 23 10 53 0 347 0</string>
                <key>verticesUV</key>
                <string>780 11 803 46 803 296 765 320 750 325 442 325 403 286 403 46 426 11 456 1 750 1</string>
            </dict>
            <key>hint_video_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7.5}</string>
                <key>spriteSize</key>
                <string>{400,309}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{589,327},{400,309}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 3 6 8 4 5 6 3 4 6 0 1 3 1 2 3 0 3 8</string>
                <key>vertices</key>
                <string>400 60 400 295 362 319 347 324 39 324 0 285 0 63 28 17 366 15</string>
                <key>verticesUV</key>
                <string>989 372 989 607 951 631 936 636 628 636 589 597 589 375 617 329 955 327</string>
            </dict>
            <key>level_button_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1572,312},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 6 0 1 6 1 2 6 2 5</string>
                <key>vertices</key>
                <string>141 17 183 59 183 148 136 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1707 323 1749 365 1749 454 1702 501 1617 501 1583 459 1572 411 1583 356 1617 324 1659 312</string>
            </dict>
            <key>level_button_1_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,2.5}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{179,1111},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 0 2 5 0 1 2 0 5 6</string>
                <key>vertices</key>
                <string>141 17 183 59 183 135 135 183 53 184 17 140 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>313 1122 355 1164 355 1240 307 1288 225 1289 189 1245 179 1202 188 1154 223 1123 265 1111</string>
            </dict>
            <key>level_button_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1393,327},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 6 0 1 6 1 2 6 2 5</string>
                <key>vertices</key>
                <string>141 17 183 59 183 148 136 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1528 338 1570 380 1570 469 1523 516 1438 516 1404 474 1393 426 1404 371 1438 339 1480 327</string>
            </dict>
            <key>level_button_2_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1,1111},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 0 2 5 0 1 2 0 5 6</string>
                <key>vertices</key>
                <string>142 18 184 60 184 136 136 184 54 185 18 141 8 98 17 50 52 19 94 7</string>
                <key>verticesUV</key>
                <string>135 1122 177 1164 177 1240 129 1288 47 1289 11 1245 1 1202 10 1154 45 1123 87 1111</string>
            </dict>
            <key>level_button_3_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{895,758},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 6 0 1 6 1 2 6 2 5</string>
                <key>vertices</key>
                <string>141 17 183 59 183 148 136 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1030 769 1072 811 1072 900 1025 947 940 947 906 905 895 857 906 802 940 770 982 758</string>
            </dict>
            <key>level_button_3_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,2.5}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1160,1161},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 0 2 5 0 1 2 0 5 6</string>
                <key>vertices</key>
                <string>141 17 183 59 183 135 135 183 53 184 17 140 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1294 1172 1336 1214 1336 1290 1288 1338 1206 1339 1170 1295 1160 1252 1169 1204 1204 1173 1246 1161</string>
            </dict>
            <key>level_button_gaming_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1751,312},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 5 0 1 1 2 3 1 3 4 5 1 4</string>
                <key>vertices</key>
                <string>141 17 183 59 183 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1886 323 1928 365 1928 501 1796 501 1762 459 1751 411 1762 356 1796 324 1838 312</string>
            </dict>
            <key>level_button_gaming_1_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1846,535},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 0 4 5 1 2 3 4 0 1 4 1 3</string>
                <key>vertices</key>
                <string>141 17 183 59 183 192 62 192 17 139 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1980 546 2022 588 2022 721 1901 721 1856 668 1846 626 1855 578 1890 547 1932 535</string>
            </dict>
            <key>level_button_gaming_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1422,876},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 5 0 1 1 2 3 1 3 4 5 1 4</string>
                <key>vertices</key>
                <string>141 17 183 59 183 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1557 887 1599 929 1599 1065 1467 1065 1433 1023 1422 975 1433 920 1467 888 1509 876</string>
            </dict>
            <key>level_button_gaming_2_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1765,848},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 0 4 5 1 2 3 4 0 1 4 1 3</string>
                <key>vertices</key>
                <string>141 17 183 59 183 192 62 192 17 139 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1899 859 1941 901 1941 1034 1820 1034 1775 981 1765 939 1774 891 1809 860 1851 848</string>
            </dict>
            <key>level_button_gaming_3_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1375,685},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 5 0 1 1 2 3 1 3 4 5 1 4</string>
                <key>vertices</key>
                <string>141 17 183 59 183 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1510 696 1552 738 1552 874 1420 874 1386 832 1375 784 1386 729 1420 697 1462 685</string>
            </dict>
            <key>level_button_gaming_3_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1122,973},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 0 4 5 1 2 3 4 0 1 4 1 3</string>
                <key>vertices</key>
                <string>141 17 183 59 183 192 62 192 17 139 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1256 984 1298 1026 1298 1159 1177 1159 1132 1106 1122 1064 1131 1016 1166 985 1208 973</string>
            </dict>
            <key>level_button_lock_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1248,829},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 2 3 4 5 2 2 5 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 126 168 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1383 840 1425 882 1425 949 1410 1018 1293 1018 1259 976 1248 928 1259 873 1293 841 1335 829</string>
            </dict>
            <key>level_button_lock_1_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1715,660},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 5 6 2 3 4 2 4 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 117 168 192 73 191 18 149 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1849 671 1891 713 1891 771 1876 846 1781 845 1726 803 1715 751 1724 703 1759 672 1801 660</string>
            </dict>
            <key>level_button_lock_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1074,782},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 2 3 4 5 2 2 5 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 126 168 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1209 793 1251 835 1251 902 1236 971 1119 971 1085 929 1074 881 1085 826 1119 794 1161 782</string>
            </dict>
            <key>level_button_lock_2_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1300,1024},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 5 6 2 3 4 2 4 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 117 168 192 73 191 18 149 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1434 1035 1476 1077 1476 1135 1461 1210 1366 1209 1311 1167 1300 1115 1309 1067 1344 1036 1386 1024</string>
            </dict>
            <key>level_button_lock_3_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1201,638},{177,189}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 2 3 4 5 2 2 5 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 126 168 195 51 195 17 153 6 105 17 50 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1336 649 1378 691 1378 758 1363 827 1246 827 1212 785 1201 737 1212 682 1246 650 1288 638</string>
            </dict>
            <key>level_button_lock_3_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1740,1036},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 6 9 4 5 6 2 3 4 2 4 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>141 17 183 59 183 117 168 192 73 191 18 149 7 97 16 49 51 18 93 6</string>
                <key>verticesUV</key>
                <string>1874 1047 1916 1089 1916 1147 1901 1222 1806 1221 1751 1179 1740 1127 1749 1079 1784 1048 1826 1036</string>
            </dict>
            <key>level_button_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{811,1106},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 0 2 5 0 1 2 0 5 6</string>
                <key>vertices</key>
                <string>142 18 184 60 184 136 136 184 54 185 18 141 8 98 17 50 52 19 94 7</string>
                <key>verticesUV</key>
                <string>945 1117 987 1159 987 1235 939 1283 857 1284 821 1240 811 1197 820 1149 855 1118 897 1106</string>
            </dict>
            <key>page_num_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{986,616},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>20 20 0 20 0 3 1 1 3 0 20 0</string>
                <key>verticesUV</key>
                <string>1006 636 986 636 986 619 987 617 989 616 1006 616</string>
            </dict>
            <key>progress_bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,12}</string>
                <key>spriteSourceSize</key>
                <string>{546,12}</string>
                <key>textureRect</key>
                <string>{{1,1083},{546,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>546 12 0 12 0 0 546 0</string>
                <key>verticesUV</key>
                <string>547 1095 1 1095 1 1083 547 1083</string>
            </dict>
            <key>progress_bar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,12}</string>
                <key>spriteSourceSize</key>
                <string>{546,12}</string>
                <key>textureRect</key>
                <string>{{1,1097},{546,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>546 12 0 12 0 0 546 0</string>
                <key>verticesUV</key>
                <string>547 1109 1 1109 1 1097 547 1097</string>
            </dict>
            <key>red_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,705},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 717 587 793 561 829 37 829 1 804 1 741 26 705 543 705</string>
            </dict>
            <key>red_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,124}</string>
                <key>spriteSourceSize</key>
                <string>{586,124}</string>
                <key>textureRect</key>
                <string>{{1,831},{586,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>586 12 586 88 560 124 36 124 0 99 0 36 25 0 542 0</string>
                <key>verticesUV</key>
                <string>587 843 587 919 561 955 37 955 1 930 1 867 26 831 543 831</string>
            </dict>
            <key>retry_button_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{989,1105},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 1 2 3 4 5 6 4 6 1 4 1 3 1 6 8 0 1 9</string>
                <key>vertices</key>
                <string>168 35 180 92 169 149 123 183 59 183 16 151 1 79 26 16 69 2 123 2</string>
                <key>verticesUV</key>
                <string>1156 1138 1168 1195 1157 1252 1111 1286 1047 1286 1004 1254 989 1182 1014 1119 1057 1105 1111 1105</string>
            </dict>
            <key>retry_button_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{183,179}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1665,494},{183,179}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 6 8 4 5 6 3 4 8 3 0 1 3 1 2 0 3 8</string>
                <key>vertices</key>
                <string>129 13 167 42 184 111 146 164 84 184 18 151 1 73 39 18 89 5</string>
                <key>verticesUV</key>
                <string>1793 502 1831 531 1848 600 1810 653 1748 673 1682 640 1665 562 1703 507 1753 494</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>t2.png</string>
            <key>size</key>
            <string>{2023,1356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff286a50aff95b3fa454cf178b55dd2f:399086109ce0c27ebd9bca1ad01313f5:e5ef9a4bfd26fe12d522d974e87c32f0$</string>
            <key>textureFileName</key>
            <string>t2.png</string>
        </dict>
    </dict>
</plist>
